<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container anidada">
    <div class="row">
      <div class="z-depth-5 shadow col s10 offset-s1">      
        <div class="col s10 offset-s1 cambio justificar">
          <p>La Oficina de Atención Ciudadana es una dependencia, adscrita a la Presidencia de la BPVB, donde las servidoras, servidores públicos, ciudadanas, ciudadanos y comunidades organizadas pueden recibir orientación e información directa, oportuna, flexible y veraz, sobre la administración de los recursos que integran el patrimonio público de la institución, así como, atender sus quejas, reclamos, denuncias, sugerencias, peticiones y solicitudes coherentes con la naturaleza de la BPVB, promoviendo, de esta manera la participación ciudadana y el ejercicio de Contralaría Social de acuerdo a lo establecido en la Constitución de la República Bolivariana de Venezuela y demás leyes y reglamentos que tipifican la actuación de las OAC.</p>
        </div>          
    </div>

    <div class="col s12">
       <h5 class="tablaMargen center-align">¿Cómo puede presentar su denuncia, queja, reclamo, solicitud o sugerencia ante la Oficina de Atención al Ciudadano?</h5>
    </div>

    <div class="image tablaMargen col s12">
       <img src="assets/img/atencion.png">
    </div>    
   </div>
  </div>  

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
            <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N, Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p>
        </div>
        
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Prevención y control</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Atención al Ciudadano</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Marco Legal</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Glosario de términos</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
    })

    $(document).ready(function(){
      $('.slider').slider();
    });
  </script>
</body>
</html>