<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li>
        </ul>
        
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>   
  
  <div class="container anidada">
    <div class="row">      
      <div class="z-depth-5 shadow col s10 offset-s1">       
        <div class="col s12">
          <img class="responsive-img" src="assets/img/colocacion.jpg">
        </div>     
      </div>

      <div class="col s8">
        <h5>Deuda Pública Nacional</h5>
      </div>

      <table class="striped tablaMargen">
        <thead>
          <tr>
            <th class="alto col s6 yellow darken-2"><h5 class="white-text">Nombre</h5></th>
            <th class="alto col s6 red darken-4"><h5 class="white-text">Características</h5></th>
          </tr>
        </thead>

        <tbody>
          <tr class="izquierda">
            <td class="cuadro col s6 cambio"><h6><b>Directo BCV</b></h6></td>
            <td class="col s6">
              <ol class="cambio">
                <li><h6>Precio: 100%</h6>
                <li><h6>Rendimiento: alto</h6>
                <li><h6>16.5% - 90 días</h6>
                <li><h6>17% - 180 días</h6>
                <li><h6>Corto Plazo</h6>
              </ol>
            </td>
          </tr>

          <tr class="izquierda">
            <td class="cuadro col s6 cambio"><h6><b>Título de Interés Fijo TIF</b></h6></td>
            <td class="col s6">
              <ol class="cambio">
                <li><h6>Interés fijo</h6></li>
                <li><h6>Rendimiento del 12% al 16%</h6></li>
                <li><h6>Corto y Mediano Plazo</h6></li>
                <li><h6>Liquidez</h6></li>           
              </ol>
            </td>
          </tr>
          
          <tr class="izquierda">
            <td class="cuadro col s6 cambio"><h6><b>VEBONOS</b></h6></td>
            <td class="col s6">
              <ol class="cambio">
                <li><h6>Interés Variable</h6></li>
                <li><h6>Rendimiento del 12% al 16%</h6></li>
                <li><h6>Largo Plazo</h6></li> 
                <li><h6>Liquidez</h6></li>                     
              </ol>
            </td>
          </tr>
       
         <tr class="izquierda">
           <td class="cuadro2 col s6 cambio"><h6><b>TICC</b></h6></td>
           <td class="col s6">
             <ol class="cambio">
               <li><h6>Interés Variable – indexado al tipo de cambio</h6></li> 
               <li><h6>Resguardo de posible devaluación</h6></li>
               <li><h6>Denominados en dólares y pagaderos en bolívares</h6></li>         
             </ol>
           </td>
        </tr>
        
        <tr class="izquierda">
          <td class="cuadro2 col s6 cambio"><h6><b>Letras del tesoro</b></h6></td>
          <td class="col s6">
            <ol class="cambio">
              <li><h6>Plazo 90 a 360 días</h6></li> 
              <li><h6>Instrumentos Cero Cupón</h6></li>               
            </ol>
          </td>
        </tr>        
      </tbody>
    </table>

    <h5>Deuda Privada</h5>

    <table class="striped tablaMargen">
      <thead>
        <tr>
          <th class="alto col s6 red accent-4"><h5 class="white-text">Nombre</h5></th>
          <th class="alto col s6 grey darken-1"><h5 class="white-text">Características</h5></th>
        </tr>
      </thead>

      <tbody>
        <tr class="izquierda">
          <td class="cuadro2 col s6 cambio"><h6><b>Obligaciones Quirografarias</b></h6></td>
          <td class="col s6">
            <ol class="cambio">
              <li><h6>Plazo: 0 a 5 años</h6></li>
              <li><h6>Diversifica el portafolio</h6></li>
              <li><h6>Precio: 100% - Mercado Primario</h6></li>
            </ol>
          </td>
        </tr>

        <tr class="izquierda">
          <td class="cuadro2 col s6 cambio"><h6><b>Papeles Comerciales</b></h6></td>
          <td class="col s6">
            <ol class="cambio">
              <li><h6>15 días a 1 año</h6></li>                       
            </ol>
          </td>
        </tr>
       
        <tr class="izquierda">
          <td class="cuadro2 col s6 cambio"><h6><b>Acciones</b></h6></td>
          <td class="col s6">
            <ol class="cambio">
              <li><h6>Rendimiento: 12% a 20%</h6></li>              
            </ol>
          </td>
        </tr>          
      </tbody>
    </table>           
      </div>
    </div>         
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
        <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N, Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p>
      </div>
      
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Prevención y control</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Atención al Ciudadano</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Marco Legal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Glosario de términos</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });
</script>
</body>
</html>