<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li> 
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container anidada">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h3>Requisitos para la Emisión</h3>
      </div>
      <div class="col s12">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <table class="striped tablaMargen cambio">
              <thead>
                <tr>
                  <th class="alto col s12 red darken-4"> <!-- <a href="#" data-activates="slide-out" class="btn button-collapse white black-text"><i class="material-icons left">archive</i>Descargar Formatos</a> --> </th>       
              </thead>

              <tbody>
                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p><i class="small material-icons">check_circle</i> Información general de la empresa.</p></li>
                    </ul>
                  </td>       
                </tr>

                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Documento constitutivo y Objeto social.</p></li>   
                    </ul>
                  </td>      
                </tr>

                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Referencias comerciales y bancarias.</p></li>    
                    </ul>
                  </td>      
                </tr>

                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Últimas 3 declaraciones ISLR.</p></li>     
                    </ul>
                  </td>      
                </tr>

                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Balance de Comprobación actualizado.</p></li>    
                    </ul>
                  </td>      
                </tr>
       
                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Uso de fondos.</p></li>          
                    </ul>
                  </td>      
                </tr> 

                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Datos históricos del emisor.</p></li>   
                    </ul>
                  </td>      
                </tr> 
       
                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Evolución del capital social (5años).</p></li>   
                    </ul>
                  </td>      
                </tr>
       
                <tr class="izquierda">
                  <td class="cuadro col s12">
                    <ul>
                      <li><p class="flow-text"><i class="small material-icons">check_circle</i> Composición de Junta Directiva.</p></li> 
                    </ul>
                  </td>      
                </tr>
       
               <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Miembros de Comité Ejecutivo.</p></li>      
                  </ul>
                </td>      
              </tr>
       
              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Resumen Curricular de miembros de Junta Directiva, Comités y Comisarios.</p></li>          
                  </ul>
                </td>      
              </tr> 
       
              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Datos de auditores externos.</p></li>        
                  </ul>
                </td>      
              </tr>
       
              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Principales  accionistas.</p></li>          
                 </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Empresas donde el emisor tiene participación mayor al 20%.</p></li>          
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Contratos de mayor importancia.</p></li>    
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Litigios y reclamaciones.</p></li>          
                  </ul>
                </td>      
              </tr>

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Estados financieros auditados.</p></li>      
                  </ul>
                </td>      
              </tr>

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Avalúos de inmuebles en garantía.</p></li>   
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Posición en moneda extranjera.</p></li>      
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Diferencia cambiaria capitalizada.</p></li>          
                  </ul>
                </td>      
              </tr>  

              <tr class="izquierda">
                 <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Ganancias por fluctuación cambiaria.</p></li>   
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Pérdidas por fluctuación cambiaria.</p></li>    
                  </ul>
                </td>      
              </tr> 

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Política de depreciación y amortización.</p></li>  
                  </ul>
                </td>      
              </tr>

              <tr class="izquierda">
                <td class="cuadro col s12">
                  <ul>
                    <li><p class="flow-text"><i class="small material-icons">check_circle</i> Calificación de riesgo.</p></li>          
                  </ul>
                </td>      
              </tr>                         

         </tbody>
       </table>           
        </div>
      </div>
    </div>     
  </div>
</div>  

 <footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
         <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N, Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p>
       </div>
        
       <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Links</h5>
           <ul>
             <li><a class="grey-text text-lighten-3" href="#!">Prevención y control</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Atención al Ciudadano</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Marco Legal</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Glosario de términos</a></li>
           </ul>
         </div>
       </div>
     </div>
      
     <div class="footer-copyright">
       <div class="container">
          © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
       </div>
     </div>
 </footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });

  $(".button-collapse").sideNav();

  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav
  $('.button-collapse').sideNav('destroy');
</script>
</body>
</html>