<!DOCTYPE html>
<html>
<head>
  <title>Bolsa Pública</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li> 
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>  
  
  <div class="container anidada">
    <div class="row">
      <div class="col s12">
        <h4>Requisitos para Persona Jurídica</h4>
      </div>
      
      <div class="col s12">
        <div class="card">          
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#test4">Persona Jurídica</a></li>
              <li class="tab"><a href="#test5">Cajas de ahorro / Fondos de ahorro, jubilaciones y pensionados</a></li>
              <li class="tab"><a href="#test6">Instituciones Bancarias</a></li>
            </ul>
          </div>
       
          <div class="card-content">
            <div id="test4">
              <div class="row col s12">
                <a href="#" data-activates="slide-out" class="btn button-collapse red darken-4 white-text"><i class="material-icons left">archive</i>Descargar Formatos</a>
              </div>  

          <div class="row">
            <div class="col s12 red darken-1 border">
              <h5 class="white-text center-align requisito">Ficha de Identificación del Inversor (Persona Jurídica)</h5>
            </div>    
            <div class="col s12 borderList">
              <ol class="margenList cambio">
                <li><h6> Llene la Ficha de Identificación del Inversor para Personal Jurídica, ubicada en la página web de la institución www.bpvb.gob.ve.</h6></li>
                <li><h6> Complete todos los campos, en los que no posee información, colocar N/A como señal “NO APLICA”.</h6></li>
                <li><h6> La Ficha de Identificación del Inversor no debe llevar tachaduras ni enmiendas.</h6></li>
                <li><h6> Puede ser llenada a bolígrafo (tinta negra) o computador.</h6></li>
              </ol>  
            </div>
          </div>  
   
          <div class="row">  
            <div class="col s12 grey darken-2 border2">
              <h5 class="white-text center-align requisito">Copia del Documento Constitutivo Estatutario</h5>
            </div>
            
            <div class="col s12 borderList">
              <ol class="margenList cambio">
                <li><h6> Debe consignar todos los Documentos Constitutivos Estatuarios de la empresa, con sus últimas modificaciones. </h6></li>
                <li><h6> Deben estar debidamente registradas. </h6></li>
                <li><h6> En caso de empresas Extranjeras no domiciliadas en la República, debe consignar copia del Documento Constitutivo traducido al idioma Castellano y debidamente legalizado por el Consulado de la República Bolivariana de Venezuela en el País de Origen.</h6></li>
                <li><h6> En caso que una Persona Jurídica sea accionista del futuro inversor, debe consignar Documento Constitutivo Estatutario y RIF.</h6></li>    
              </ol>  
            </div>
          </div>
  

        <div class="row">  
          <div class="col s12 blue darken-3 border3">
            <h5 class="white-text center-align requisito">Copia de Poder debidamente Notariado</h5>
          </div>
          <div class="col s12 borderList">
            <ol class="margenList cambio">
              <li><h6> Solo en caso que lo amerite.</h6></li>
              <li><h6> Debe estar vigente.</h6></li>
              <li><h6> Los datos del R.I.F., deben coincidir con los datos a incluir en la Ficha de Identificación del Inversor para Persona Jurídica.</h6></li>    
            </ol>  
          </div>
        </div>  

        <div class="row">  
          <div class="col s12 yellow darken-2 border4">
            <h5 class="white-text center-align requisito">Últimas tres (03) Declaraciones de Impuesto Sobre La Renta</h5>
          </div>
          <div class="col s12 borderList">
            <ol class="margenList cambio">
              <li><h6> Debe consignar Certificado de Declaración Electrónico.</h6></li>
              <li><h6> Debe consignar la Planilla de Declaración. </h6></li>
              <li><h6> En caso que la empresa esté constituida en un tiempo menor a tres años, consignar las declaradas a la fecha.</h6></li>        
            </ol>  
          </div>
        </div>
   
      <div class="row">
        <div class="col s12 red darken-1 border">
          <h5 class="white-text center-align requisito">Estados de Cuenta</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6> Últimos tres meses de los estados de cuentas correspondientes a las cuentas inscritas en la Ficha de Identificación para Persona Jurídica.</h6></li>
            <li><h6> Últimos tres meses de los estados de cuentas correspondientes a las cuentas inscritas en la Ficha de Identificación para Persona Jurídica. </h6></li>        
          </ol>  
        </div>
      </div>

      <div class="row">
        <div class="col s12 grey darken-2 border2">
          <h5 class="white-text center-align requisito">Certificación Bancaria</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6> Certificación Bancaria en Bolívares, donde se se refleje los 20 dígitos de la cuenta bancaria sellada y firmada por la Entidad Bancaria.</h6></li>
            <li><h6> Certificación Bancaria de apertura de la Cuenta Convenio N°20 emitida por la Entidad Bancaria emisora.</h6></li>
            <li><h6> Certificación Bancaria de otras cuentas en el exterior que usted desee incorporar.</h6></li>
          </ol>  
        </div>
      </div>

      <div class="row">  
        <div class="col s12 blue darken-3 border3">
          <h5 class="white-text center-align requisito">Balance General de la Empresa y Estado de Ganancias y Pérdidas</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6> Debe corresponder a la fecha de cierre según los estatutos.</h6></li>
            <li><h6> Debe corresponder a los tres (03) últimos cierres económicos.</h6></li>
            <li><h6> Si la empresa tiene menos de ese tiempo operando, deberá presentar ESTADO FINANCIERO de los ejercicios que posea.</h6></li>
            <li><h6> Los Estados Financieros no podrán ser elaborados ni firmados por el comisario de la empresa (en caso de poseerlo), deben estar avalados por un Contador Público debidamente colegiado y certificado.</h6></li>             
          </ol>  
        </div>
      </div>

      <div class="row">   
        <div class="col s12 borderList">
          <ul class="margenList">
            <li class="cambio"><h6><b>Los miembros de la Junta Directiva de la Empresa, debidamente identificados en el Documento Constitutivo Estatutario deben consignar los siguientes documentos</h6></li>        
          </ul>  
        </div>
      </div> 

      <div class="row">  
        <div class="col s12 red darken-1 border">
          <h5 class="white-text center-align requisito cambio">Copia de la Cédula de Identidad de todos los integrantes de la Junta Directiva</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6> La copia de la Cédula de Identidad debe ser legible. (Evidencie foto, datos y firma).</h6></li>
            <li><h6> No se requiere un tamaño especial.</h6></li>
            <li><h6> Debe estar vigente.</h6></li>  
          </ol>  
        </div>
      </div>

      <div class="row">  
        <div class="col s12 grey darken-2 border2">
          <h5 class="white-text center-align requisito">Copia del Pasaporte</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6> Sólo para extranjeros residentes en el territorio de la República Bolivariana de Venezuela.</h6></li>
            <li><h6> La copia del pasaporte debe ser legible. (Evidencie foto, datos y firma).</h6></li>
            <li><h6> Debe estar vigente.</h6></li>
            <li><h6> En caso de tener visa de trabajo, debe incluirla.</h6></li>        
          </ol>  
        </div>
      </div>  

      <div class="row">
        <div class="col s12 blue darken-3 border3">
          <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.)</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6>Debe estar vigente.</h6></li>        
          </ol>  
        </div>
      </div>

      <div class="col s12">
        <ul>
          <li class="cambio"><h6><b> En caso de ser una empresa Extranjera, consignar lo siguiente:</h6></li>        
        </ul>  
      </div>

      <div class="row">  
        <div class="col s12 yellow darken-2 border4">
          <h5 class="white-text center-align requisito">Certificado de Inversionista Extrangero</h5>
        </div>
        <div class="col s12 borderList">
          <ol class="margenList cambio">
            <li><h6>En caso de ser extranjero, consignar autorización emanada por la Superintendencia Nacional de Valores.</h6></li>               
          </ol>  
        </div>
      </div>   
    </div>


    <div id="test5">
      <div class="row col s12">
        <a href="#" data-activates="slide-out2" class="btn button-collapse red darken-4 white-text"><i class="material-icons left">archive</i>Descargar Formatos</a>
      </div>  
   
    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Ficha de Identificación del Inversor (Persona Jurídica)</h5>
      </div>    
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Llene la Ficha de Identificación del Inversor para Persona Jurídica, ubicada en la página web de la institución www.bpvb.gob.ve.</h6></li>
          <li><h6>Complete todos los campos, en los que no posee información, colocar N/A como señal “NO APLICA”.</h6></li>
          <li><h6>La Ficha de Identificación del Inversor no debe llevar tachaduras ni enmiendas.</h6></li>
          <li><h6>Puede ser llenada a bolígrafo (tinta negra) o computador.</h6></li>
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 grey darken-2 border2">
        <h5 class="white-text center-align requisito">Solicitud de los Estados de Cuenta</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Solicitud de los estados de cuenta de los n° de cuenta registrados (3 meses anteriores).</h6></li>             
        </ol>  
      </div>
    </div>  

    <div class="row">  
      <div class="col s12 blue darken-3 border3">
        <h5 class="white-text center-align requisito">Certificación Bancaria</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Certificación de cuentas registradas en Bolívares, donde se refleje los 20 dígitos de la cuenta bancaria.</h6></li>
          <li><h6>Certificación Bancaria de apertura de la Cuenta Convenio N°20 y/o otras cuentas en el exterior que posea el inversor.  </h6></li>                
        </ol>  
      </div>
    </div>  

    <div class="row">  
      <div class="col s12 yellow darken-2 border4">
        <h5 class="white-text center-align requisito">Copia del Documento Constitutivo Estatutario</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Debe consignar todos los Documentos Constitutivos Estatuario, con sus últimas modificaciones.</h6></li>
          <li><h6>Deben estar debidamente registradas. </h6></li>
          <li><h6>Debe contener dentro de sus estatutos la facultad para invertir el títulos valores. De no estar facultado, se recomienda realizar una Asamblea de Asociados donde se le otorgue dicha facultad.</h6></li>        
        </ol>  
      </div>
    </div>
   
    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.)</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Debe estar vigente.</h6></li>
          <li><h6>Los datos del R.I.F., deben coincidir con los datos a incluir en la Ficha de Identificación del Inversor para Cajas de Ahorro, Fondos de Ahorro o Fondo de Jubliaciones y Pensionados.</h6></li>        
        </ol>  
      </div>
    </div>

    <div class="row">   
      <div class="col s12 borderList">
        <ul class="margenList">
          <li class="cambio"><h6><b>Los miembros del Consejo de Administración, debidamente identificados en el Documento Constitutivo Estatutario deben consignar los siguientes documentos:</h6></li>        
        </ul>  
      </div>
    </div> 

    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Copia de la Cédula de Identidad de todos los integrantes del Consejo de Administración. (Presidente, Tesorero y Secretario)</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>La copia de la Cédula de Identidad debe ser legible. (Evidencie foto, datos y firma).</h6></li>
          <li><h6>No se requiere un tamaño especial.</h6></li>
          <li><h6>Debe estar vigente.</h6></li>
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 grey darken-2 border2">
        <h5 class="white-text center-align requisito">Copia del Pasaporte</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Sólo para extranjeros residentes en el territorio de la República Bolivariana de Venezuela.</h6></li>
          <li><h6>La copia del pasaporte debe ser legible. (Evidencie foto, datos y firma).</h6></li>
          <li><h6>Debe estar vigente.</h6></li> 
          <li><h6>En caso de tener visa de trabajo, debe incluirla.</h6></li> 
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 blue darken-3 border3">
        <h5 class="white-text center-align requisito">Copia del Pasaporte. Copia del Registro de Información Fiscal (R.I.F.)</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>Debe estar vigente.</h6></li>
          <li><h6>Especificar que persona juridica, fondo, caja de ahorro.</h6></li>  
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 yellow darken-2 border4">
        <h5 class="white-text center-align requisito">Copia de Poder Notariado</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>En el caso que lo amerite.</h6></li>                
        </ol>  
      </div>
    </div>   
  </div>
            
  <div id="test6">
    <div class="row col s12">
    <a href="#" data-activates="slide-out3" class="btn button-collapse red darken-4 white-text"><i class="material-icons left">archive</i>Descargar Formatos</a>
  </div>  

  <div class="row">
    <div class="col s12 red darken-1 border">
      <h5 class="white-text center-align requisito">Ficha de Identificación del Inversor (Entidades Bancarias / Seguros / OVA)</h5>
    </div>    
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Llene la Ficha de Identificación del Inversor, ubicada en la página web de la institución www.bpvb.gob.ve.</h6></li>
        <li><h6>Complete todos los campos, en los que no posee información, colocar N/A como señal “NO APLICA”.</h6></li>
        <li><h6>La Ficha de Identificación del Inversor no debe llevar tachaduras ni enmiendas.</h6></li>
        <li><h6>Puede ser llenada a bolígrafo (tinta negra) o computador.</h6></li>
      </ol>  
    </div>
  </div>

  <div class="row">  
    <div class="col s12 grey darken-2 border2">
      <h5 class="white-text center-align requisito">Copia del Documento Constitutivo Estatutario</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Debe consignar el Documento Constitutivo Estatutario en el cual indique los miembros de la Junta Directiva vigentes.</h6></li>
        <li><h6>Deben estar debidamente registradas.</h6></li>
        <li><h6>En caso de empresas Extranjeras no domiciliadas en la República, debe consignar copia del Documento Constitutivo traducido al idioma Castellano y debidamente legalizado por el Consulado de la República Bolivariana de Venezuela en el País de Origen.</h6></li>
        <li><h6>En caso que una Persona Jurídica sea accionista del futuro inversor, debe consignar Documento Constitutivo Estatutario y RIF de la misma.</h6></li>
      </ol>  
    </div>
  </div>
  

  <div class="row">  
    <div class="col s12 blue darken-3 border3">
      <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.) de la Empresa</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Debe estar vigente.</h6></li>
        <li><h6>Los datos del R.I.F., deben coincidir con los datos a incluir en la Ficha de Identificación del Inversor para Persona Jurídica.</h6></li>         
      </ol>  
    </div>
  </div>  

  <div class="row">  
    <div class="col s12 yellow darken-2 border4">
      <h5 class="white-text center-align requisito">Copia de Poder debidamente Notariado</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Sólo para aquellos que no actúen por cuenta propia.</h6></li>
        <li><h6>Consignarlo en caso que una de las firmas autorizadas sea un apoderado. </h6></li>
        <li><h6>El Poder debe hacer mención a Compra/Venta de Títulos Valores, Intermediación y Custodia.</h6></li>
        <li><h6>De ser el apoderado una firma autorizada, deberá consignar copia de la cédula de identidad legible y
Registro de Información Fiscal (R.I.F.).</h6></li>
      </ol>  
    </div>
  </div>
   
  <div class="row">
    <div class="col s12 red darken-1 border">
      <h5 class="white-text center-align requisito">Estados de Cuenta. (Sólo Seguros y OVA)</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Últimos tres meses de los estados de cuentas correspondientes a las cuentas inscritas en la Ficha de Identificación para Persona Jurídica.</h6></li>
        <li><h6>Deben venir sellados y firmados por la Entidad Bancaria emisora.</h6></li>        
      </ol>  
    </div>
  </div>

  <div class="row">   
    <div class="col s12 borderList">
      <ul class="margenList">
        <li class="cambio"><h6><b>Los miembros de la Junta Directiva de la Empresa, debidamente identificados en el Documento Constitutivo Estatutario deben consignar los siguientes documentos:</b></h6></li>        
      </ul>  
    </div>
  </div> 

  <div class="row">
    <div class="col s12 red darken-1 border">
      <h5 class="white-text center-align requisito">Copia de la Cédula de Identidad de todos los integrantes de la Junta Directiva</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>La copia de la Cédula de Identidad debe ser legible (Evidencie foto, datos y firma).</h6></li>
        <li><h6>No se requiere un tamaño especial.</h6></li>
        <li><h6>Debe estar vigente.</h6></li>
      </ol>  
    </div>
  </div>

  <div class="row">  
    <div class="col s12 grey darken-2 border2">
      <h5 class="white-text center-align requisito">Copia del Pasaporte</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Sólo para extranjeros residentes en el territorio de la República Bolivariana de Venezuela.</h6></li>
        <li><h6>La copia del pasaporte debe ser legible. (Evidencie foto, datos y firma).</h6></li>
        <li><h6>Debe estar vigente.</h6></li> 
        <li><h6>En caso de tener visa de trabajo, debe incluirla.</h6></li> 
      </ol>  
    </div>
  </div>

  <div class="row">  
    <div class="col s12 blue darken-3 border3">
      <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.)</h5>
    </div>
    <div class="col s12 borderList">
      <ol class="margenList cambio">
        <li><h6>Debe estar vigente.</h6></li>         
      </ol>  
    </div>
  </div>   
</div>        
</div>
</div>
</div>
     
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="assets/img/">
          </div>
          <a href="#!user"><img class="circle" src="assets/img/logo.png"></a>
          <a href="#!name"><span class="black-text name"><b>Persona Jurídica</b></span></a>        
        </div>
      </li>          
        <li><div class="divider"></div></li>
        <li><a href="/documents/Lista de recaudos para PJ.pdf" target="blank">Instructivo paso a paso</a></li>         
        <li><a href="/documents/Lista de recaudos para PJ.pdf" target="blank">Lista de recaudos</a></li>
        <li><a href="/documents/Ficha de Identificacion del Inversor PJ.docx.docx">Ficha de identificación del inversor</a></li>
        <li><a href="/documents/Separadores Inversor Persona Jurídica.pdf" target="blank">Modelo de Carpeta</a></li>
        <li><a href="../../documents/Declaracion jurada PJ.docx">Declaración jurada</a></li>
    </ul> 

    <ul id="slide-out2" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="assets/img/">
          </div>
          <a href="#!user"><img class="circle" src="assets/img/logo.png"></a>
          <a href="#!name"><span class="black-text name"><b>Cajas de Ahorro</b></span></a>        
        </div>
      </li>          
      <li><div class="divider"></div></li>
      <li><a href="/documents/paso a paso cajas de ahorro.pdf" target="blank">Instructivo paso a paso</a></li>         
      <li><a href="/documents/Lista de recaudos para CA.pdf" target="blank">Lista de recaudos</a></li>
      <li><a href="/documents/Ficha de Inversor CA.docx">Ficha de identificación del inversor</a></li>
      <li><a href="/documents/Separadores Inversor Cajas de ahorro.pdf" target="blank">Modelo de Carpeta</a></li>
      <li><a href="../../documents/Declaracion jurada PJ.docx">Declaración jurada</a></li>
    </ul>

    <ul id="slide-out3" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="assets/img/">
          </div>
          <a href="#!user"><img class="circle" src="assets/img/logo.png"></a>
          <a href="#!name"><span class="black-text name"><b>Instituciones Bancarias</b></span></a>        
        </div>
      </li>          
      <li><div class="divider"></div></li>
      <li><a href="/documents/paso a paso entidades bancarias.pdf" target="blank">Instructivo paso a paso</a></li>         
      <li><a href="/documents/Lista de recaudos EB.pdf" target="blank">Lista de recaudos</a></li>
      <li><a href="/documents/Ficha de Inversor entidades bancarias.docx">Ficha de identificación del inversor</a></li>
      <li><a href="/documents/Separadores Entidades Bancarias.pdf" target="blank">Modelo de Carpeta</a></li>
      <li><a href="../../documents/Declaracion jurada PJ.docx">Declaración jurada</a></li>
    </ul>               
  </div>
</div>  

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
        <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N, Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Prevención</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Atención al Ciudadano</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Marco Legal</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Glosario de términos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });

  $(".button-collapse").sideNav();

  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav
  $('.button-collapse').sideNav('destroy');
</script>
</body>
</html>