<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container anidada tablaMargen">
    <div class="row">      
      <div class="col s10 offset-s1">
        <h3>Marco Legal</h3><br>
      </div>
      <div class="col s8 offset-s2">
        <a  href="#" target="blank"><i class="material-icons left black-text">archive</i><h6 class="red-text text-darken-4"> Constitución de la República Bolivariana de Venezuela</h6></a>
      </div> 
      <div class="col s8 offset-s2">
        <a  href="#" target="blank"><i class="material-icons left black-text">archive</i><h6 class="red-text text-darken-4"> Ley de Mercado de Valores</h6></a>
      </div>  
      <div class="col s8 offset-s2">
        <a  href="#" target="blank"><i class="material-icons left black-text">archive</i><h6 class="red-text text-darken-4"> Ley de la Bolsa Pública de Valores Bicentenaria</h6></a>
      </div>  
      <div class="col s8 offset-s2">
        <a  href="#" target="blank"><i class="material-icons left black-text">archive</i><h6 class="red-text text-darken-4"> Ley de Caja de Valores</h6></a>
      </div>  
      <div class="col s8 offset-s2">
        <a  href="#" target="blank"><i class="material-icons left black-text">archive</i><h6 class="red-text text-darken-4"> Reglamento General de la Bolsa Pública de Valores Bicentenaria</h6></a>
      </div>   
    </div>
  </div>  

  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
          <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N<br> Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p><br>
        <ul class="social">
           <li><h6>Redes Sociales:</h6><br> 
           <li>
            <a href="https://www.facebook.com/bolsapublicave/" class="icon-facebook img-circle" target="_blank"></a> 
            <a href="https://twitter.com/Bolsa_Publica" class="icon-twitter img-circle" target="_blank"></a>   
            <a href="https://www.instagram.com/bolsa_publica/" class="icon-instagram img-circle" target="_blank"></a>         
          </li>
        </ul>
      </div>
             
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Menú</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/documents/LCFT.pdf" target="blank">Prevención y control</a></li>
          <li><a class="grey-text text-lighten-3" href="/atencion">Atención al Ciudadano</a></li>
          <li><a class="grey-text text-lighten-3" href="/marcolegal">Marco Legal</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve/snv/site/glosario_terminos.php">Glosario de términos</a></li>

        <h5 class="white-text">Enlaces de interés</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.bcv.org.ve" target="blank">Banco Central de Venezuela</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve" target="blank">Superintendencia Nacional de Valores</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.mppef.gob.ve" target="blank">Ministerio del Poder Popular de Economía y Finanzas</a></li>    
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
            © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2              
    </div>
  </div>
</footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });
</script>
</body>
</html>