<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li> 
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="marginTitle">Requisitos para personas naturales</h4>
      </div>

      <div class="row col s12">
        <a href="#" data-activates="slide-out" class="btn button-collapse red darken-4 white-text"><i class="material-icons left">archive</i>Descargar Formatos</a>
      </div>

      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Ficha de Identificación del Inversor (Persona Natural)</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Llene la Ficha de Identificación del Inversor para Personal Natural, ubicada en la página web de la institución www.bpvb.gob.ve.</h6></li>
          <li><h6> Complete todos los campos, en los que no posee información, colocar N/A como señal “NO APLICA”.</h6></li>
          <li><h6> La Ficha de Identificación del Inversor no debe llevar tachaduras ni enmiendas.</h6></li>
          <li><h6> Puede ser llenada a bolígrafo (tinta negra) o computador.</h6></li>
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 grey darken-2 border2">
        <h5 class="white-text center-align requisito">Copia de la Cédula de Identidad</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> La  copia  de  la  Cédula  de  Identidad  debe  ser  legible.  (Evidencie foto, datos y firma). </h6></li>
          <li><h6> No se requiere un tamaño especial. </h6></li>
          <li><h6> Debe estar vigente.</h6></li>        
        </ol>  
      </div>
    </div>  

    <div class="row">  
      <div class="col s12 blue darken-3 border3">
        <h5 class="white-text center-align requisito">Copia del Pasaporte</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Sólo  para  extranjeros  residentes  en  el  territorio  de  la  República Bolivariana de Venezuela.  </h6></li>
          <li><h6> La  copia  del  pasaporte  debe  ser  legible. (Evidencie  foto,  datos y firma).  </h6></li>
          <li><h6> Debe estar vigente. En caso de tener visa de trabajo, debe incluirla.</h6></li>        
        </ol>  
      </div>
    </div>  

    <div class="row">  
      <div class="col s12 yellow darken-2 border4">
        <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.)</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Debe estar vigente.</h6></li>
          <li><h6> Los datos del R.I.F., deben coincidir con los datos a incluir en la Ficha de Identificación del Inversor para Persona Natural. </h6></li>
          <li><h6> Debe estar vigente. En caso de tener visa de trabajo, debe incluirla.</h6></li>      
        </ol>  
      </div>
    </div>
   
    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Copia de Poder debidamente Notariado (solo en caso de ser necesario)</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Sólo para aquellos que no actúen por cuenta propia.</h6></li>
          <li><h6> En caso que sea casado, consignar Poder de su cónyuge, si el mismo no es firmante de la cuenta de corretaje bursátil. </h6></li>
          <li><h6> El   Poder   debe   hacer   mención   a   COMPRA/VENTA   DE   TÍTULOS VALORES, INTERMEDIACIÓN Y CUSTODIA. </h6></li>
          <li><h6> De ser el apoderado una firma autorizada, deberá consignar copia de  la  Cédula  de  Identidad  legible  y  Registro  de  Información  Fiscal (R.I.F.).</h6></li>
        </ol>  
      </div>
    </div>

    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Constancia de Trabajo</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> La Constancia de Trabajo debe venir con sello húmedo.</h6></li>
          <li><h6> No debe tener un tiempo de emisión superior a los 30 días.</h6></li>
          <li><h6> En caso de tener actividad económica  independiente, debe consignar CERTIFICACIÓN DE INGRESOS debidamente firmada y sellada por un Contador Público colegiado, con antigüedad no mayor a 90 días.</h6></li>
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 grey darken-2 border2">
        <h5 class="white-text center-align requisito">Tres (03) Últimas  Declaraciones de Impuesto Sobre La Renta</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Debe consignar Certificado de Declaración Electrónico.</h6></li>
          <li><h6> Debe consignar la Planilla de Declaración. </h6></li>             
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 blue darken-3 border3">
        <h5 class="white-text center-align requisito">Estados de Cuenta</h5>
      </div>

      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Últimos tres meses de los estados de cuentas correspondientes a las cuentas inscritas en la Ficha de Identificación para Persona Natural.   </h6></li>
          <li><h6> Deben venir sellados y firmados por la Entidad Bancaria emisora.  </h6></li>  
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 yellow darken-2 border4">
        <h5 class="white-text center-align requisito">Certificación Bancaria</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6>  Certificación Bancaria de cuentas en Bolívares, donde se refleje los 20  dígitos  de  la  cuenta  bancaria  sellada  y  firmada  por  la  Entidad Bancaria.</h6></li>
          <li><h6> Certificación  Bancaria  de  apertura  de  la  Cuenta  Convenio  N°20 emitida por la Entidad Bancaria emisora. </h6></li>
          <li><h6> Certificación  Bancaria  de  otras  cuentas  en  el  exterior  que  usted desee incorporar.</h6></li>        
        </ol>  
      </div>
    </div>

    <div class="row">
      <div class="col s12 red darken-1 border">
        <h5 class="white-text center-align requisito">Copia de Acta de Matrimonio</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Solo para aquellos casos cuyo estado civil aparezca CASADO en su Cédula de Identidad.</h6></li>        
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 grey darken-2 border2">
        <h5 class="white-text center-align requisito">Copia Cédula de Identidad del Cónyuge</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> La  copia  de  la  Cédula  de  Identidad  debe  ser  legible.  (Evidencie foto, datos y firma). </h6></li>
          <li><h6> No se requiere un tamaño especial. </h6></li>
          <li><h6> Debe estar vigente.</h6></li>        
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 blue darken-3 border3">
        <h5 class="white-text center-align requisito">Copia de Pasaporte del Cónyuge</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Sólo  para  extranjeros  residentes  en  el  territorio  de  la  República Bolivariana de Venezuela.</h6></li>
          <li><h6> La  copia  del  pasaporte  debe  ser  legible.  (Evidencie  foto,  datos  y firma).</h6></li>
          <li><h6> Debe estar vigente. En caso de tener visa de trabajo, debe incluirla.</h6></li>        
        </ol>  
      </div>
    </div>

    <div class="row">  
      <div class="col s12 yellow darken-2 border4">
        <h5 class="white-text center-align requisito">Copia del Registro de Información Fiscal (R.I.F.) del Cónyuge</h5>
      </div>
      <div class="col s12 borderList">
        <ol class="margenList cambio">
          <li><h6> Debe estar vigente.</h6></li>
          <li><h6> Los datos del R.I.F., deben coincidir con los datos a incluir en la Ficha
de Identificación del Inversor para Persona Natural. </h6></li>                
        </ol>  
      </div>
    </div> 
  </div>  

  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/img/">
      </div>
      <a href="#!user"><img class="circle" src="assets/img/logo.png"></a>
      <a href="#!name"><span class="black-text name"><b>Personas Naturales</b></span></a>        
      </div></li>          
      <li><div class="divider"></div></li>
      <li><a href="/documents/paso a paso persona natural.pdf" target="blank">Instructivo paso a paso</a></li>         
      <li><a href="/documents/Lista de recaudos PN.pdf" target="blank">Lista de recaudos</a></li>
      <li><a href="/documents/Ficha_persona_natural.docx">Ficha de identificación del inversor</a></li>
      <li><a href="/documents/Separadores Inversor Persona Natural.pdf" target="blank">Modelo de Carpeta</a></li>
      <li><a href="/documents/Declaracion_persona_natural.docx">Declaración jurada</a></li>
  </ul>          

 <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
          <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N<br> Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p><br>
        <ul class="social">
           <li><h6>Redes Sociales:</h6><br> 
           <li>
            <a href="https://www.facebook.com/bolsapublicave/" class="icon-facebook img-circle" target="_blank"></a> 
            <a href="https://twitter.com/Bolsa_Publica" class="icon-twitter img-circle" target="_blank"></a>   
            <a href="https://www.instagram.com/bolsa_publica/" class="icon-instagram img-circle" target="_blank"></a>         
          </li>
        </ul>
      </div>
             
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Menú</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/documents/LCFT.pdf" target="blank">Prevención y control</a></li>
          <li><a class="grey-text text-lighten-3" href="/atencion">Atención al Ciudadano</a></li>
          <li><a class="grey-text text-lighten-3" href="/marcolegal">Marco Legal</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve/snv/site/glosario_terminos.php">Glosario de términos</a></li>

        <h5 class="white-text">Enlaces de interés</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.bcv.org.ve" target="blank">Banco Central de Venezuela</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve" target="blank">Superintendencia Nacional de Valores</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.mppef.gob.ve" target="blank">Ministerio del Poder Popular de Economía y Finanzas</a></li>                  
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
            © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2              
    </div>
  </div>
</footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });

  $(".button-collapse").sideNav();

  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav
  $('.button-collapse').sideNav('destroy');
</script>
</body>
</html>