<!DOCTYPE html>
<html>
<head>
	<title>Bolsa Pública</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
</head>
<body>   
  <div class="col l12">
    <div class="cintillo"><img src="assets/img/cintillo.jpg"></div>
  </div> 
  <div class="navbar-fixed">
  	<nav>
      <div class="nav-wrapper white">
        <a href="/index" class="brand-logo"><img src="assets/img/Logo_encabezado.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/index">Inicio</a></li>
          <li><a class="grey-text text-darken-4" href="/quienessomos">Quienes Somos</a></li>
          <li><a class="grey-text text-darken-4" href="/tarifas">Tarifas</a></li>
          <li><a class="grey-text text-darken-4" href="/estadisticas">Estadísticas</a></li>
          <li><a class="grey-text text-darken-4" href="/contacto">Contacto</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/index">Inicio</a></li>
          <li><a href="/quienessomos">Quienes Somos</a></li>
          <li><a href="/tarifas">Tarifas</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container anidada">
    <div class="row">      
      <div class="col s12 cambio justificar">
        <h5>Tarifas de inscripción y colocación de títulos valores</h5>
        <p class="flow-text">La Bolsa Pública de Valores Bicentenaria (BPVB), informa las nuevas tarifas de inscripción y colocación de Títulos Valores, prestando como siempre un servicio eficaz y con las mejores tarifas del mercado.</p>
      </div>
      
      <div class="col s12">        
        <table class="striped responsive-table tablaMargen">
          <thead>
            <tr class="red darken-4">
              <th class="white-text">Descripción de la Comisión</th>
              <th class="white-text">Detalles</th>
              <th class="white-text">Tarifa</th>
            </tr>
          </thead>

          <tbody>
            <tr class="izquierda">
              <td>Inscripción de Títulos Valores</td>
              <td>Las tarifas se aplican sobre el monto de la emisión aprobada por la<br> Superintendencia Nacional de Valores (SNV)</td>
              <td>0,05%</td>
            </tr>
            <tr class="izquierda">
             <td>Colocación de Títulos Valores</td>
             <td>Las tarifas se aplican sobre los títulos valores totalmente colocados</td>
             <td>1,00%</td>
            </tr>          
          </tbody>
        </table>

        <div class="col s12 cambio justificar"> 
          <h5>Tarifas por servicio de mantenimiento de custodia</h5>
          <p class="flow-text"><b>La Bolsa Pública de Valores Bicentenaria (BPVB)</b> informa las nuevas tarifas a partir del 01 de Junio de 2017  por el <b>Servicio de Custodia de Títulos Valores</b>, prestando como siempre un servicio eficaz y con las mejores tarifas del mercado.</p>
          <p class="flow-text"><b>Beneficios</b></p>
        </div>
      
        <ol class="cambio checkLista">
          <li><p>Seguridad y protección de sus Títulos Valores. </p></li>
          <li><p>Ofrece a los inversores mantener sus inversiones en estricta confidencialidad.</p></li>
          <li><p>Agilidad en las transacciones de intermediación.</p></li>
          <li><p>Abono directo en su cuenta (inscritas en la BPVB),  por cobro de intereses, dividendos o vencimiento de capital.</p></li>
          <li><p>Emisión de certificado de custodia si lo requiere.</p></li>
        </ol>        
        
        <p><b>Requisito</b></p>
        <ol class="cambio checkLista">
          <li><p>Estar inscrito en la BPVB.</p></li>          
        </ol>
        <p><b>Pagos</b></p>
        <ol class="cambio checkLista">
          <li><p>Solo se aceptan  transferencias electrónicas, depósitos o cheques de cuentas del inversor registrada en la BPVB.</p></li>          
        </ol>    
      </div>   
    </div>
  </div>       

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="white-text">Bolsa Pública de Valores Bicentenaria</h5>
          <p class="grey-text text-lighten-4">Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N<br> Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.<br><b>Horario de atención al público:</b> De 8:00 a.m. a 4:30 p.m.<br><b>Teléfono:</b> 0212-9558800.</p><br>
        <ul class="social">
           <li><h6>Redes Sociales:</h6><br> 
           <li>
            <a href="https://www.facebook.com/bolsapublicave/" class="icon-facebook img-circle" target="_blank"></a> 
            <a href="https://twitter.com/Bolsa_Publica" class="icon-twitter img-circle" target="_blank"></a>   
            <a href="https://www.instagram.com/bolsa_publica/" class="icon-instagram img-circle" target="_blank"></a>         
          </li>
        </ul>
      </div>
             
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Menú</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/documents/LCFT.pdf" target="blank">Prevención y control</a></li>
          <li><a class="grey-text text-lighten-3" href="/atencion">Atención al Ciudadano</a></li>
          <li><a class="grey-text text-lighten-3" href="/marcolegal">Marco Legal</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve/snv/site/glosario_terminos.php">Glosario de términos</a></li>

        <h5 class="white-text">Enlaces de interés</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.bcv.org.ve" target="blank">Banco Central de Venezuela</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sunaval.gob.ve" target="blank">Superintendencia Nacional de Valores</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.mppef.gob.ve" target="blank">Ministerio del Poder Popular de Economía y Finanzas</a></li>                  
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
            © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2              
    </div>
  </div>
</footer>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(document).ready(function(){
      $('.slider').slider();
    });
</script>
</body>
</html>