!!!
%html
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/
  %body
    .col.l12
      .cintillo
        %img{:src => "assets/img/cintillo.jpg"}/
    .navbar-fixed
      %nav
        .nav-wrapper.white
          %a.brand-logo{:href => "/index"}
            %img{:src => "assets/img/logo.png"}/
          %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.material-icons.grey-text.text-darken-4 menu
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.white-text{:href => "/contacto"} Contacto
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-3.white-text{:href => "/estadisticas"} Estadísticas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-4.white-text{:href => "/tarifas"} Tarifas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-3.white-text{:href => "/quienessomos"} Quiénes Somos
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-4.white-text{:href => "/index"} Inicio
          %ul#mobile-demo.side-nav
            %li
              %a{:href => "/index"} Inicio
            %li
              %a{:href => "/quienessomos"} Quiénes Somos
            %li
              %a{:href => "/tarifas"} Tarifas
            %li
              %a{:href => "/estadisticas"} Estadísticas
            %li
              %a{:href => "/contacto"} Contacto
    .container.anidada
      .row
        .shadow.col.s12
          .col.s12
            %img.responsive-img{:src => "assets/img/colocacion.jpg"}/
        .col.s8
          %h5 Deuda Pública
        %table.striped.tablaMargen
          %thead
            %tr
              %th.alto.col.s6.yellow.darken-2
                %h5.white-text Nombre
              %th.alto.col.s6.red.darken-4
                %h5.white-text Características
          %tbody
            %tr.izquierda
              %td.cuadro.col.s6.cambio
                %h6
                  %b Directo BCV
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 Precio: 100%
                  %li
                    %h6 16.5% - 90 días
                  %li
                    %h6 17% - 180 días
                  %li
                    %h6 Corto Plazo
            %tr.izquierda
              %td.cuadro.col.s6.cambio
                %h6
                  %b Título de Interés Fijo (TIF)
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 Interés fijo
                  %li
                    %h6 Largo Plazo
            %tr.izquierda
              %td.cuadro.col.s6.cambio
                %h6
                  %b VEBONOS
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 Interés Variable
                  %li
                    %h6 Largo Plazo
            %tr.izquierda
              %td.cuadro2.col.s6.cambio
                %h6
                  %b Letras del tesoro
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 Plazo 91 a 364 días
                  %li
                    %h6 Instrumentos Cero Cupón
        %h5 Deuda Privada
        %table.striped.tablaMargen
          %thead
            %tr
              %th.alto.col.s6.red.accent-4
                %h5.white-text Nombre
              %th.alto.col.s6.grey.darken-1
                %h5.white-text Características
          %tbody
            %tr.izquierda
              %td.cuadro2.col.s6.cambio
                %h6
                  %b Obligaciones Quirografarias
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 A mediano y largo plazo (mayor a 1 año)
                  %li
                    %h6 Interés fijo o variable
                  %li
                    %h6 Con o sin garantía
            %tr.izquierda
              %td.cuadro2.col.s6.cambio
                %h6
                  %b Papeles Comerciales
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 A corto plazo (mayor a 15 días – menor a 360 días)
                  %li
                    %h6 Rendimiento
            %tr.izquierda
              %td.cuadro2.col.s6.cambio
                %h6
                  %b Títulos de Participación
              %td.col.s6
                %ol.cambio
                  %li
                    %h6 A mediano y largo plazo
                  %li
                    %h6 Interés fijo
                  %li
                    %h6 El inversionista adquiere la titularidad sobre el activo subyacente
            %tr.izquierda
              %td.cuadro2.col.s6.cambio
                %h6
                  %b Acciones
              %td.col.s6
                %ol.cambio
    %footer.page-footer
      .container
        .row
          .col.s12.m6
            %h5.white-text Bolsa Pública de Valores Bicentenaria
            %p.grey-text.text-lighten-4
              Av. Francisco de Miranda, Edificio Torre Europa, Nivel C, Of. S/N
              %br/
              Urb. El Rosal, Municipio Chacao, Estado Miranda. Zona Postal 1060.
              %br/
              %b Horario de atención al público:
              De 8:00 a.m. a 4:30 p.m.
              %br/
              %b Teléfono:
              0212-9558800.
            %br/
            %ul.social
              %li
                %h6 Redes Sociales:
                %br/
              %li
                %a.icon-facebook.img-circle{:href => "https://www.facebook.com/Bolsa-Publica-de-Valores-Bicentenaria-470631792952689/?fref=ts", :target => "_blank"}
                %a.icon-twitter.img-circle{:href => "https://twitter.com/Bolsa_Publica", :target => "_blank"}
                %a.icon-instagram.img-circle{:href => "https://www.instagram.com/bolsa_publica/", :target => "_blank"}
          .col.l4.offset-l2.s12
            %h5.white-text Menú
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "/documents/LCFT.pdf", :target => "blank"} Prevención y Control de Legitimación de Capitales y Financiamiento al Terrorismo
              %li
                %a.grey-text.text-lighten-3{:href => "/atencion"} Atención al Ciudadano
              %li
                %a.grey-text.text-lighten-3{:href => "/marcolegal"} Marco Jurídico
              %li
                %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve/snv/site/glosario_terminos.php"} Glosario de términos
              %li
                %a.grey-text.text-lighten-3{:href => "/concurso"} Concurso Público para Ingreso de Personal
              %li
                %a.grey-text.text-lighten-3{:href => "/contrataciones"} Contrataciones Públicas  
              %h5.white-text Enlaces de interés
              %ul
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.bcv.org.ve", :target => "blank"} Banco Central de Venezuela
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve", :target => "blank"} Superintendencia Nacional de Valores
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.mppef.gob.ve", :target => "blank"} Ministerio del Poder Popular de Economía y Finanzas
      .footer-copyright
        .container
          © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/materialize.min.js", :type => "text/javascript"}
    :javascript
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })

      $(document).ready(function(){
          $('.slider').slider();
        });
