!!!
%html
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/
  %body
    .col.l12
      .cintillo
        %img{:src => "assets/img/cintillo.jpg"}/
    .navbar-fixed
      %nav
        .nav-wrapper.white
          %a.brand-logo{:href => "/index"}
            %img{:src => "assets/img/logo.png"}/
          %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.material-icons.grey-text.text-darken-4 menu
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.white-text{:href => "/contacto"} Contacto
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-3.white-text{:href => "/estadisticas"} Estadísticas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-4.white-text{:href => "/tarifas"} Tarifas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-3.white-text{:href => "/quienessomos"} Quiénes Somos
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-4.white-text{:href => "/index"} Inicio
          %ul#mobile-demo.side-nav
            %li
              %a{:href => "/index"} Inicio
            %li
              %a{:href => "/quienessomos"} Quiénes Somos
            %li
              %a{:href => "/tarifas"} Tarifas
            %li
              %a{:href => "/estadisticas"} Estadísticas
            %li
              %a{:href => "/contacto"} Contacto
    .container
      .row
        .col.s12
          %h4.marginTitle Requisitos para personas naturales
        .row.col.s12
          %a.btn.button-collapse.red.darken-4.white-text{"data-activates" => "slide-out", :href => "#"}
            %i.material-icons.left> archive
            Descargar Formatos
        .col.s12.red.darken-1.border
          %h5.white-text.center-align.requisito Ficha de Identificación del Inversionista
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Original.
            %li
              %h6 Obtenida por medios electrónicos a través del portal de la Bolsa Pública de Valores Bicentenaria (www.bpvb.gob.ve), con la información solicitada en cada uno de sus campos. En caso contrario, coloque N/A en señal de no aplica en cada ítems, impresa en tamaño carta.
            %li
              %h6 Debidamente con su firma igual a la Cédula de Identidad y huella. Sin tachaduras ni enmiendas.
            %li
              %h6 Puede ser llenada a bolígrafo o en computador.
      .row
        .col.s12.grey.darken-2.border2
          %h5.white-text.center-align.requisito Cédula de Identidad
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Visible, Legible y Vigente.
            %li
              %h6 No se requiere un tamaño especial.
      .row
        .col.s12.blue.darken-3.border3
          %h5.white-text.center-align.requisito Pasaporte
        .col.s12.borderList
          %h6.margenList2
            %b SÓLO PARA EXTRANJEROS RESIDENTES EN EL TERRITORIO DE LA REPÚBLICA BOLIVARIANA DE VENEZUELA.
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Visible, Legible y Vigente.
            %li
              %h6 En caso de tener Visa de Trabajo, deberá incluirla.
      .row
        .col.s12.yellow.darken-2.border4
          %h5.white-text.center-align.requisito Registro de Información Fiscal (RIF)
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Vigente y legible.
      .row
        .col.s12.red.darken-1.border
          %h5.white-text.center-align.requisito Poder (En caso de Representante Legal)
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Debidamente autenticado. En el cual se indique expresamente las operaciones que pretenda efectuar en la BPVB.
      .row
        .col.s12.blue.darken-3.border3
          %h5.white-text.center-align.requisito Cédula de Identidad del Apoderado
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Visible, Legible y Vigente.
            %li
              %h6 No se requiere un tamaño especial.
      .row
        .col.s12.yellow.darken-2.border4
          %h5.white-text.center-align.requisito Registro de Información Fiscal (RIF) del Apoderado
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Vigente y legible.
      .row
        .col.s12.red.darken-1.border
          %h5.white-text.center-align.requisito Constancia de Trabajo
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Original.
            %li
              %h6 Debidamente firmada y sellada por el empleador o institución que la otorgue.
            %li
              %h6 No deberá tener un tiempo de emisión superior a los treinta (30) días.
            %li
              %h6 En caso de tener actividad económica independiente, deberá consignar Informe de Atestiguamiento de Ingresos, debidamente firmado y sellado por un Contador Público Colegiado, con antigüedad no mayor a noventa (90) días.
      .row
        .col.s12.grey.darken-2.border2
          %h5.white-text.center-align.requisito Planillas de Declaración de Impuesto Sobre La Renta (ISLR)
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Correspondiente a los tres (3) últimos ejercicios fiscales.
      .row
        .col.s12.blue.darken-3.border3
          %h5.white-text.center-align.requisito Estados de Cuenta
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 De los últimos tres (03) meses correspondientes a las cuentas inscritas en la Ficha de Identificación del Inversionista.
            %li
              %h6 Debidamente firmados y sellados por la entidad bancaria emisora.
      .row
        .col.s12.yellow.darken-2.border4
          %h5.white-text.center-align.requisito Certificación Bancaria de Apertura de la Cuenta Convenio N° 20
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Deberá reflejar las Coordenadas del Banco Corresponsal.
            %li
              %h6 Debidamente firmada y sellada por la entidad bancaria emisora.
            %li
              %h6 Certificación Bancaria de otras cuentas en el exterior que desee incorporar.
      .col.s12.borderList.margenList
        %h5.center-align EN CASO DE QUE EL ESTADO CIVIL SEA CASADO
      .row
        .col.s12.red.darken-1.border
          %h5.white-text.center-align.requisito Acta de Matrimonio
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Solo consignar cuando el estado civil del documento de identidad sea CASADO.
      .row
        .col.s12.grey.darken-2.border2
          %h5.white-text.center-align.requisito Cédula de Identidad del Cónyuge
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Visible, Legible y Vigente.
      .row
        .col.s12.blue.darken-3.border3
          %h5.white-text.center-align.requisito Pasaporte del Cónyuge
        .col.s12.borderList
          %h6.margenList2
            %b SÓLO PARA EXTRANJEROS RESIDENTES EN EL TERRITORIO DE LA REPÚBLICA BOLIVARIANA DE VENEZUELA.
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Visible, Legible y Vigente.
            %li
              %h6 En caso de tener Visa de trabajo, deberá incluirla.
      .row
        .col.s12.yellow.darken-2.border4
          %h5.white-text.center-align.requisito Registro de Información Fiscal (R.I.F.) del Cónyuge
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Vigente y legible.
      .row
        .col.s12.red.darken-1.border
          %h5.white-text.center-align.requisito Poder
        .col.s12.borderList
          %ol.margenList.cambio
            %li
              %h6 Copia.
            %li
              %h6 Debidamente autenticado. En el cual se indique expresamente las operaciones que pretenda efectuar en la BPVB.
    %ul#slide-out.side-nav
      %li
        .user-view
          .background            
          %a{:href => "#!user"}
            %img.circle{:src => "/assets/img/logo.png"}/
          %a{:href => "#!name"}
            %span.black-text.name
              %b Personas Naturales
      %li
        .divider
      %li
        %a{:href => "/documents/paso a paso persona natural.pdf", :target => "blank"} Instructivo paso a paso
      %li
        %a{:href => "/documents/Lista de recaudos PN.pdf", :target => "blank"} Lista de recaudos
      %li
        %a{:href => "/documents/Ficha_persona_natural.docx"} Ficha de identificación del inversor
      %li
        %a{:href => "/documents/Separadores Inversor Persona Natural.docx", :target => "blank"} Modelo de Carpeta              
    %footer.page-footer
      .container
        .row
          .col.s12.m6
            %h5.white-text Bolsa Pública de Valores Bicentenaria
            %p.grey-text.text-lighten-4
              Av. Francisco de Miranda, Edificio Torre Europa, Nivel C, Of. S/N
              %br/
              Urb. El Rosal, Municipio Chacao, Estado Miranda. Zona Postal 1060.
              %br/
              %b Horario de atención al público:
              De 8:00 a.m. a 4:30 p.m.
              %br/
              %b Teléfono:
              0212-9558800.
            %br/
            %ul.social
              %li
                %h6 Redes Sociales:
                %br/
              %li
                %a.icon-facebook.img-circle{:href => "https://www.facebook.com/Bolsa-Publica-de-Valores-Bicentenaria-470631792952689/?fref=ts", :target => "_blank"}
                %a.icon-twitter.img-circle{:href => "https://twitter.com/Bolsa_Publica", :target => "_blank"}
                %a.icon-instagram.img-circle{:href => "https://www.instagram.com/bolsa_publica/", :target => "_blank"}
          .col.l4.offset-l2.s12
            %h5.white-text Menú
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "/documents/LCFT.pdf", :target => "blank"} Prevención y Control de Legitimación de Capitales y Financiamiento al Terrorismo
              %li
                %a.grey-text.text-lighten-3{:href => "/atencion"} Atención al Ciudadano
              %li
                %a.grey-text.text-lighten-3{:href => "/marcolegal"} Marco Jurídico
              %li
                %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve/snv/site/glosario_terminos.php"} Glosario de términos
              %li
                %a.grey-text.text-lighten-3{:href => "/concurso"} Concurso Público para Ingreso de Personal
              %li
                %a.grey-text.text-lighten-3{:href => "/contrataciones"} Contrataciones Públicas
              %h5.white-text Enlaces de interés
              %ul
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.bcv.org.ve", :target => "blank"} Banco Central de Venezuela
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve", :target => "blank"} Superintendencia Nacional de Valores
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.mppef.gob.ve", :target => "blank"} Ministerio del Poder Popular de Economía y Finanzas
      .footer-copyright
        .container
          © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/materialize.min.js", :type => "text/javascript"}
    :javascript
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })

      $(document).ready(function(){
          $('.slider').slider();
        });

      $(".button-collapse").sideNav();

      // Hide sideNav
      $('.button-collapse').sideNav('hide');
      // Destroy sideNav
      $('.button-collapse').sideNav('destroy');
